<div class="schedule-page">
  <p class="manage-note">Schedules are managed by your instructor.</p>

  <section class="day-group" *ngFor="let group of groupedDays">
    <h3>{{ group.day }}</h3>

    <div class="class-row" *ngFor="let item of group.items">
      <div class="class-left">
        <span class="material-icons">schedule</span>
        <span class="time">{{ item.time }}</span>
        <div>
          <strong>{{ item.subject }}</strong>
          <p>{{ item.meta }}</p>
        </div>
      </div>

      <div class="class-right">
        <span>{{ item.mode }}</span>
      </div>
    </div>
  </section>
</div>
